/* Styles for FAQSection.module.scss */

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap");

.process {
  padding: 50px 0;
  font-family: Space Grotesk;
  display: flex;
  justify-content: center;
}

.process__container {
  max-width: 900px;
  width: 100%;
}

.accordions__list {
  display: grid;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .accordions__list {
    grid-template-columns: 1fr;
  }
}

.accordions__item {
  background-color: #f3f3f3;
  border-radius: 2rem;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 0.3125rem 0px 0px #191a23;
  border: 1px solid #191a23;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }
}

.accordions__control {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
  position: relative;
}

.accordions__number {
  font-size: 30px;
  padding-right: 1rem;
  font-weight: 500;
}

.accordions__title {
  font-size: 20px;
  font-weight: 500;
  flex: 1;
}

.accordions__icon {
  width: 40px;
  height: 40px;
  background-color: #f3f3f3;
  border: 1px solid #191a23;
  border-radius: 50%;
  position: relative;
  transition: transform 0.3s ease;

  &::before,
  &::after {
    content: "";
    background-color: #191a23;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 20px;
    height: 2px;
  }

  &::after {
    width: 20px;
    height: 2px;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.accordions__content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.open .accordions__content {
  padding: 20px 30px;
  max-height: 300px;
}

.open {
  background-color: #b9ff66;
}

.open .accordions__icon {
  transform: rotate(225deg);
}

@media (max-width: 1024px) {
  .accordions__content {
    padding: 0 20px;
  }
}
