.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.loadingSec {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSec span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: clamp(2.5rem, 24px, 5vw);
  opacity: 0;
  will-change: transform, opacity;
}