$toggle-size: 60px;
$toggle-line-color: #636363;
$toggle-line-size: $toggle-size / 8;
$toggle-line-angle: 45deg;
$toggle-anim-speed: 0.3s;

.btn-toggle {
  position: fixed;
  top: 2rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 30;

  .line {
    width: $toggle-size;
    height: $toggle-line-size;
    margin: 5px 0;
    background-color: $toggle-line-color;
    border-radius: 2px;
    transition: transform $toggle-anim-speed ease-in-out, opacity $toggle-anim-speed ease-in-out;
    position: relative;
  }

  &.open .line:nth-child(1) {
    transform: rotate($toggle-line-angle) translateY(12px);
  }

  &.open .line:nth-child(2) {
    opacity: 0;
  }

  &.open .line:nth-child(3) {
    transform: rotate(-$toggle-line-angle) translateY(-12px);
  }
}
