@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-330px * 7)); // Adjusted to match the number of images and added margin
  }
}

.slider {
  height: 80px; // Adjusted height
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 20px 0; // Increased padding at the top and bottom
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    z-index: 2;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }
}

.slideTrack {
  display: flex;
  width: calc(330px * 14); // Adjusted to account for added margin
  animation: scroll 30s linear infinite;

  &:hover {
    animation-play-state: paused;
  }

  @media (max-width: 768px) {
    width: calc(190px * 14); // Adjust slide width for smaller screens
  }
}

.slide {
  height: 60px; // Reduced height
  width: 160px; // Reduced width
  margin: 0 25px; // Increased margin between logos
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  img {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    width: 100px;
    margin: 0 12px; // Adjusted margin for smaller screens
  }
}

@media (max-width: 768px) {
  .slider {
    height: 70px; // Adjusted height for smaller screens
    padding: 15px 0; // Adjusted padding for smaller screens

    &::before,
    &::after {
      width: 25px;
    }
  }

  .slide {
    height: 50px; // Reduced height for smaller screens
  }
}
