@keyframes scroll {
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-330px * 2)); // Scrolls to the end
  }
  100% {
    transform: translateX(0); // Reverses back to the start
  }
}

.slider {
  height: 120px; // Increased height
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 30px 0; // Increased padding at the top and bottom
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    z-index: 2;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }
}

.slideTrack {
  display: flex;
  align-items: center; // Align items vertically
  width: calc(330px * 14); // Adjusted to account for added margin
  animation: scroll 60s linear infinite; // Extended duration to account for reverse animation

  &:hover {
    animation-play-state: paused;
  }

  @media (max-width: 768px) {
    width: calc(190px * 14); // Adjust slide width for smaller screens
  }
}

.slide {
  height: 100px; // Increased height
  width: 160px; // Adjusted width
  margin: 0 25px; // Increased margin between logos
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  img {
    height: 100%; // Make the image take full height
    object-fit: contain; // Ensure the image fits within the slide
    width: 100%; // Adjust width to make the image centered
  }

  @media (max-width: 768px) {
    width: 100px;
    margin: 0 12px; // Adjusted margin for smaller screens
  }
}

@media (max-width: 768px) {
  .slider {
    height: 140px; // Adjusted height for smaller screens
    padding: 20px 0; // Adjusted padding for smaller screens

    &::before,
    &::after {
      width: 25px;
    }
  }

  .slide {
    height: 80px; // Adjusted height for smaller screens
  }
}
